{
  "extends": [
    "eslint:recommended",
    "airbnb/base"
  ],
  "env": {
    "screeps/screeps": true
  },
  "rules": {
    "semi": [
      "error",
      "always"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "linebreak-style": 0,
    "object-curly-spacing": 0,
    "no-console": 0
  },
  "plugins": [
    "screeps"
  ]
}